body{   
    background-image: url("https://www.dolby.com/siteassets/xf-site/blocks/hero/netflix-gradient.png?width=1440&crop=1599,0.56");
background-size: cover;
}
.imgdiv{
    text-align: center;
    margin-top: 100px;
}

.bg-container{
color: white;
display: flex;
width: fit-content;
background-size:cover;
justify-content:start ;
padding: 17%;
padding-top: 5px;
padding-bottom: 5px;
margin:10px 0;

}
.container{
    text-align: center;
    border: solid white 1px;
    border-radius: 25px;
    padding: 0%;
    margin: 10px;
    width: 250px;

}
.container:hover{

transform: 2s ease-in-out;          
transform: scale(1.05);
box-shadow:0px 0px 3px 3px  rgb(254, 254, 255);
}
.container p{
    padding: 10px;
    margin:  10px;

}
.pclass{
    height: 150px;
    padding: 45px;
    font-size: 20px;
}
.spanid{
    font-size: 40px;
}
button{
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background-color:white;
    padding: 10px;
    margin: 10px;
}